/* ==========================================================================
   SCSS Variables
   ========================================================================== */

/*
   Typography variables
   ========================================================================== */

$base-font       : 'Lato', sans-serif;
$code-font       : monospace;
$font-size       : 14px;
$line-height     : 24px;
$border-radius   : 3px;

/*
   Color variables
   ========================================================================== */
$heading-color   : #000000;
$body-color      : #4A4A4A;
$primary-color   : #4FC3F7;
$secondary-color : #0277BD;
